/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop

  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop

  ORDER: Base + typography > general layout + grid > page layout > components

  1em = 16px
  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

body {
  box-sizing: border-box;
}

main {
  position: relative;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.u-margin-right-small {
  margin-right: 0.6rem;
}

.u-margin-left-medium {
  margin-left: 1rem;
}

.u-pb-2 {
  padding-bottom: 2rem;
}

header.main-header {
  display: flex;
  padding: 2.4rem 10%;
  align-items: center;
  justify-content: space-between;
}

.main-header ul {
  list-style: none;
}

.main-nav {
  margin-left: -35%;
}

.category-name {
  font-weight: 700;
  font-size: 3rem;
  text-transform: lowercase;
  color: hsl(0deg, 0%, 0%);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 16px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: hsl(219deg, 9%, 45%);
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff7d1a;
}

.my__ac-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  justify-self: flex-end;
}
.my__ac-list .nav--cart_icon {
  position: relative;
}
.my__ac-list .cart--strip {
  position: absolute;
  background-color: #ff7d1a;
  width: 2.2rem;
  height: 1.5rem;
  border-radius: 1rem;
  top: -0.8rem;
  right: -0.8rem;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-thumbnail {
  height: 48px;
}

.main-header + .hr-line {
  margin: 0 10% 5%;
  height: 0px;
  border: 0;
  border-top: 0.3px solid #b6bcc8;
}

.pdt-img {
  border-radius: 1rem;
  width: 80%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.product-thumbnail {
  width: 20.6%;
  border: none;
  border-radius: 0.8rem;
}
.product-thumbnail-box {
  display: flex;
  width: 80%;
  gap: 6%;
  margin-top: 2rem;
}
.product-thumbnail-active {
  filter: opacity(0.3);
  font-size: 0;
  border: 2px solid #ff7d1a;
  border-radius: 8px;
  background: #ff7d1a !important;
}
.product-details {
  padding-right: 6.4rem;
}
.product-brand {
  color: #ff7d1a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: 10% 0 1.2rem;
}
.product-title {
  font-weight: 700;
  font-size: 40px;
  color: hsl(0deg, 0%, 0%);
  margin-bottom: 5%;
}
.product-description {
  font-size: 1.6rem;
  line-height: 1.4;
  color: hsl(219deg, 9%, 45%);
  margin-bottom: 2.4rem;
}
.product-price-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.product-price {
  font-size: 25px;
  font-weight: 700;
}
.product-discount {
  font-weight: 700;
  font-size: 14px;
  color: #ff7d1a;
  background-color: hsl(25deg, 100%, 94%);
  padding: 3px 12px;
}
.product-mrp {
  color: #b6bcc8;
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 2.4rem;
}

.add-card-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
}

.change-qty-box {
  background-color: #f7f8fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27%;
  padding: 1.2rem;
  border-radius: 0.6rem;
}

.btn-add-cart {
  background-color: #ff7d1a;
  border: none;
  border-radius: 0.8rem;
  font-weight: 700;
  padding: 1.4rem 7rem;
  color: #f7f8fd;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.btn-add-cart .cart-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(2904%) hue-rotate(179deg) brightness(100%) contrast(98%);
}

.thumb {
  height: 9rem;
  width: 20.6%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 8px;
  border: 2px solid #ff7d1a;
}
.thumb-active {
  filter: opacity(0.3);
  -webkit-filter: opacity(0.3);
}

.thumb-1 {
  background: url("./../../images/image-product-1-thumbnail.jpg");
}

.thumb-2 {
  background: url("./../../images/image-product-2-thumbnail.jpg");
}

.thumb-3 {
  background: url("./../../images/image-product-3-thumbnail.jpg");
}

.thumb-4 {
  background: url("./../../images/image-product-4-thumbnail.jpg");
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

#popup {
  display: none;
  position: absolute;
  top: -18%;
  right: 5%;
  background: #fff;
  width: 23%;
  height: 45%;
  z-index: 200;
  box-shadow: -5px 16px 48px rgba(0, 0, 0, 0.2);
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.popupcontent .heading {
  margin: 32px 0 24px 24px;
  color: hsl(220deg, 13%, 13%);
}
.popupcontent .empty_msg {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: hsl(219deg, 9%, 45%);
  margin-top: 2.4rem;
}
.popupcontent .hr-line {
  border-top: 0.1px solid #e2e4e9;
}
.popupcontent .btn-checkout {
  background-color: #ff7d1a;
  border: none;
  border-radius: 0.8rem;
  font-weight: 700;
  color: #f7f8fd;
  width: 85%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  margin: auto;
}
.popupcontent .cart--list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.popupcontent .cart--list_item {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
.popupcontent .cart--list_item .product-thumbnail {
  width: 15%;
  border-radius: 0.3rem;
}
.popupcontent .cart--list_item_details {
  color: #b6bcc8;
  font-size: 16px;
}
.popupcontent .cart--list_item_details .product--price_total {
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}
.popupcontent .cart--list_item .delete-icon {
  align-self: center;
  height: 2rem;
}

#button {
  cursor: pointer;
}

#lboverlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

#lbpopup {
  display: none;
  position: absolute;
  top: 34%;
  left: 45%;
  width: 31%;
  margin-left: -250px;
  /*Halfthevalueofwidthtocenterdiv*/
  margin-top: -250px;
  /*Halfthevalueofheighttocenterdiv*/
  z-index: 200;
  border-radius: 2rem;
}

.lbcontrols {
  position: absolute;
  right: 0;
  top: -10%;
}

#lbclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.lbcontent img {
  width: 100%;
  border-radius: 2rem;
}
.lbcontent .cart-thumbnail {
  width: 80%;
  border-radius: 8px;
  border: 2px solid #ff7d1a;
  background: #fff;
}
.lbcontent .cart-thumbnail-box {
  display: flex;
  width: 22%;
  margin: 3rem 4rem 0;
  gap: 22%;
}
.lbcontent .cart-thumbnail-active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

#button {
  cursor: pointer;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
    margin-bottom: 0;
  } */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}/*# sourceMappingURL=main.css.map */