header.main-header {
  display: flex;
  padding: 2.4rem 10%;
  align-items: center;
  justify-content: space-between;
}
.main-header ul {
  list-style: none;
}
.main-nav {
  margin-left: -35%;
}
.category-name {
  font-weight: 700;
  font-size: 3rem;
  text-transform: lowercase;
  color: $black;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 16px;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: $Dark-grayish-blue;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: $Orange;
}
.my__ac-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  justify-self: flex-end;
  .nav--cart_icon {
    position: relative;
  }
  .cart--strip {
    position: absolute;
    background-color: $Orange;
    width: 2.2rem;
    height: 1.5rem;
    border-radius: 1rem;
    top: -0.8rem;
    right: -0.8rem;
    color: $White;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.profile-thumbnail {
  height: 48px;
}
.main-header + .hr-line {
  margin: 0 10% 5%;
  height: 0px;
  border: 0;
  border-top: 0.3px solid $Grayish-blue;
  // color: $Grayish-blue;
  // background-color: $Grayish-blue;
}
